/*Cascade properties*/
.box{
	display:flex;
	align-items: flex-start;
	justify-content:space-between;
}

.box :first-child{
	align-self:center;
}

.dense_grid_container{
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 8fr;
	gap: 1em;
}

.dense_grid_container>.header{
	display:flex;
	grid-column:1/4;
	padding:2em;
	background:red;
	justify-content:center;
}

.header~.flex_container{
	display:flex;
	column-gap:2rem;
	justify-content:space-between;
	grid-column:2;
}
/*All descendants to a flex_container class whose sibling is a header class*/
.header~.flex_container>*{
	background:magenta;
	font: normal normal normal 16px/30px Georgia, serif; 
	color:white;
	border-radius:25%;
}

div{
	font-size: 16px;
	/*ems scale from font size, makes sense as the font is the most atomic element of html*/
	padding: 3em;
}